<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h5>Add new bookmark: </h5>
    <form action="/bookmarks" method="post">
      <h5>Title: </h5>
      <input type="text" name="title">
      <h5>url: </h5>
      <input type="text" name="url">
      <input type="submit" name="Submit" value="Submit">
    </form>
  </body>
</html>
